In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [1]:
names = ["A","B","C"]
print (names)

['A', 'B', 'C']

In [2]:
names

['A', 'B', 'C']

In [3]:
names.append("D")
names.append("E")
names.append("3")
names.append(4)
names

['A', 'B', 'C', 'D', 'E', '3', 4]

In [4]:
a= input("insert value: ")
names. append(a)
names

insert value: abdullah

['A', 'B', 'C', 'D', 'E', '3', 4, 'abdullah']

In [5]:
names1=names.copy()
names[0]="pakistan"
print(names)
print(names1)
#names1= names is shallow copy, where the actual data is not copied, just same address gets assigned to variables
#names1= names.copy() is deep copy, where the contents of the list get copied into a new list, effectively creating a new list

['pakistan', 'B', 'C', 'D', 'E', '3', 4, 'abdullah']
['A', 'B', 'C', 'D', 'E', '3', 4, 'abdullah']

In [6]:
names.count('B')

1

In [7]:
print(names+names1)#inline operation, values are only being modified here, original lists remain unchanged

print(names)
print(names1)

['pakistan', 'B', 'C', 'D', 'E', '3', 4, 'abdullah', 'A', 'B', 'C', 'D', 'E', '3', 4, 'abdullah']
['pakistan', 'B', 'C', 'D', 'E', '3', 4, 'abdullah']
['A', 'B', 'C', 'D', 'E', '3', 4, 'abdullah']

In [8]:
names1.extend(names)
names1

['A',
 'B',
 'C',
 'D',
 'E',
 '3',
 4,
 'abdullah',
 'pakistan',
 'B',
 'C',
 'D',
 'E',
 '3',
 4,
 'abdullah']

In [9]:
names1.insert(1,"LIST")
names1

['A',
 'LIST',
 'B',
 'C',
 'D',
 'E',
 '3',
 4,
 'abdullah',
 'pakistan',
 'B',
 'C',
 'D',
 'E',
 '3',
 4,
 'abdullah']

In [10]:
names1.pop()
names1.pop()
names1

['A',
 'LIST',
 'B',
 'C',
 'D',
 'E',
 '3',
 4,
 'abdullah',
 'pakistan',
 'B',
 'C',
 'D',
 'E',
 '3']

In [15]:
names1.sort()
print(names1)

['3', '3', 'A', 'B', 'B', 'C', 'C', 'D', 'D', 'E', 'E', 'LIST', 'abdullah', 'pakistan']

In [17]:
names1

['3',
 '3',
 'A',
 'B',
 'B',
 'C',
 'C',
 'D',
 'D',
 'E',
 'E',
 'LIST',
 'abdullah',
 'pakistan']

a= int(input("enter number"))
for n in range(1,a+1):
    for m in range(1,11):
        #print(n,"x",m,"=",n*m)
        print(f'{n} x {m} = {n*m}')
        print(\r \t\t\t)
    print("\n")

In [51]:
a= int(input("enter table to start from")) 
b= int(input("enter table to end at ")) 
c= int(input("enter number till which each table is to be printed")) 
#a= int(input("enter number")) 
for n in range(a,b+1): 
    for m in range(1,c+1):
        print(m,"x",n,"=",n*m, end='\t')
        #print(f'{n} x {m} = {n*m}',end='\t')
    print()

enter table to start from2
enter table to end at 4
enter number till which each table is to be printed5
1 x 2 = 2	2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10
1 x 3 = 3	2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15
1 x 4 = 4	2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20